.home-div{
    background: rgb(246, 246, 246) ;
}
.home-div p{
    font-size: 0.9rem;
    font-weight: 500;
}
.text-div h1{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 65px;
}
.details-text p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.download-btn button{
    border: none;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
}
.download-btn button:hover{
    border: none;
    outline: none;
    background-color: white;
    color: black;
    border-radius: 20px;
    border: 1px solid black;
    transition: all 0.6s ease;
}